<section ng-controller="HomeCtrl as vm">
	
	<h1 class="win-h1">Home</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. At est repellendus laborum tempore quisquam deleniti rerum dolores beatae possimus minima qui maxime doloremque, illo earum aperiam cupiditate quidem ex nihil?
	</p>
	
	<win-nav-bar placement="'bottom'">
		<win-nav-bar-container>
			<win-nav-bar-command label="'Home'" icon="'home'" tooltip="'Go home!!'"></win-nav-bar-command>
			<win-nav-bar-command label="'Welcome'" icon="'emoji2'"  ng-click="vm.navigate()"></win-nav-bar-command>
		</win-nav-bar-container>
	</win-nav-bar>
</section>