<section ng-controller="HomeCtrl as vm">

	<win-pivot>
		<win-pivot-item header="'First'">
			Pivots are useful for varied content
		</win-pivot-item>
		<win-pivot-item header="'Second'">
			This Pivot is boring however, it just has things like data bindings: {{ratings.length}}
		</win-pivot-item>
		<win-pivot-item header="'Tail...'">
			Because it's only purpose is to show how to create a Pivot
		</win-pivot-item>
	</win-pivot>

	<win-app-bar>
		<win-app-bar-command label="'Home'" icon="'home'" tooltip="'Go home!!'"></win-app-bar-command>
		<win-app-bar-command label="'Welcome'" icon="'emoji2'" ng-click="vm.navigate()"></win-app-bar-command>
	</win-app-bar>
</section>